#comments
  background: color-surface
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3)
  padding: article-padding
  border: 1px solid color-border
  border-radius: 12px
  margin: block-margin 0
  a
    color: color-link
